.button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;

  font-size: 0.75rem;
  font-style: 1.4;
  font-weight: 500;

  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  img {
    vertical-align: middle;
    border: 0;
  }
}

.error {
  background-color: $error-btn-bg;
  color: $error-btn-text;
}
